.header-container {
    width: 70%;
    background-color: #003545;
    color: #fff;
    margin: 5% auto;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 9px 5px 20px 2px rgba(0,0,0,0.57);
    -webkit-box-shadow: 9px 5px 20px 2px rgba(0,0,0,0.57);
    -moz-box-shadow: 9px 5px 20px 2px rgba(0,0,0,0.57);
}

header {
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

.header-container > * {
    padding-left: 20px; 
    padding-bottom: 20px;
}



